body {
    margin: 0;
    font-family: "DynaPuff", "Roboto", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #7A7A7A;
    background-color: #FBF6E6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 10;
}

h1 {
    font-size: 6rem;
    font-family: "DynaPuff", "Roboto", sans-serif;
    font-weight: 600;
    color: #fef9ef;
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100;
}

h1 .two {
    color: #ff5834;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
}

h3 {
    font-size: 1.75rem;
    font-weight: 500;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

p {
    font-weight: 400;
    font-size: 1rem;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.difficulty-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    gap: 10px;
    z-index: 9999;
}

.difficulty-btn {
    margin: 0;
    padding: 10px 20px;
    background-color: #fdfaee;
    color: #5D0045;
    font-size: 1rem;
    border: 2px solid #fdfaee;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
    width: 100%;
    max-width: 150px;
    position: relative;
}

.difficulty-btn.selected {
    background-color: #ffc347;
    border: 2px solid #ffc347;
    color: #5D0045;
}

.difficulty-btn:not(.selected):hover {
    background-color: #f7d170;
    border: 2px solid #f7d170;
    color: #5D0045;
    font-weight: 500;
    transform: translateY(-2px);
}

.difficulty-btn:active {
    transform: translateY(0);
}

.difficulty-btn::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 0;
    left: -100%;
    transform: translateX(-50%);
    background-color: #5D0045;
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 0.3s ease;
    max-width: 500px;
    white-space: nowrap;
    font-size: 14px;
    text-align: center;
}

.difficulty-btn:hover::after {
    opacity: 1;
    visibility: visible;
}

.elementor-shape {
    width: 100%;
    height: auto;
    position: relative;
}

.elementor-shape svg {
    width: 100%;
    height: 100%;
}

.elementor-shape-top {
    width: 100%;
    height: auto;
    background-color: #F8CFC7;
    position: relative;
    z-index: 1;
}

.elementor-shape-bottom {
    width: 100%;
    height: auto;
    background-color: #F8CFC7;
    position: relative;
    z-index: -10;
}

.elementor-shape-bottom svg {
    transform: rotate(180deg) translateY(-1px);
    display: block;
}

.elementor-shape-top svg {
    width: 100%;
    height: 100%;
    fill: #F8CFC7;
}

.elementor-shape-fill-yellow {
    fill: #FBF6E6;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.keys {
    display: block;
    width: 100%;
    height: 350px;
    max-width: 1000px;
    position: relative;
    margin: 0 auto;
    cursor: none;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.nowplaying {
    display: none;
    font-size: 120px;
    line-height: 1;
    color: #5D0045;
    text-shadow: 0 0 5rem #5D0045;
    transition: all .07s ease;
    min-height: 120px;
}

.pink-bg {
    background-color: #F8CFC7;
    width: 100%;
    padding: 0;
    position: relative;
}

.musical-container,
.keys {
    position: relative;
    z-index: 1;
}

.key {
    position: relative;
    border: 3px solid #5D0045;
    border-radius: .5rem;
    transition: all .07s ease;
    display: inline-block;
    box-sizing: border-box;
    z-index: 2;
    background-color: #FBF6E6;
}

.key:not(.sharp) {
    float: left;
    width: 10%;
    height: 100%;
}

.key.sharp {
    position: absolute;
    width: 6%;
    height: 60%;
    background: #5D0045;
    top: 0;
    z-index: 3;
}

.key[data-key="69"] {
    left: 17%;
}

.key[data-key="79"] {
    left: 77%;
}

.key[data-key="80"] {
    left: 87%;
}

.key[data-key="84"] {
    left: 37%;
}

.key[data-key="85"] {
    left: 57%;
}

.key[data-key="87"] {
    left: 7%;
}

.key[data-key="89"] {
    left: 47%;
}

.playing {
    transform: scale(.95);
    border-color: #3A1E2B;
    box-shadow: 0 0 1rem #3A1E2B;
}

.hints-sharp {
    display: block;
    width: 100%;
    opacity: 1;
    position: absolute;
    bottom: 7px;
    padding-left: 7px;
    font-size: 1.2rem;
    color: #ffffff;
}

.hints-sharp.hidden {
    display: none;
}

.hints {
    display: block;
    width: 100%;
    opacity: 1;
    position: absolute;
    bottom: 7px;
    font-size: 1.2rem;
    padding-left: 7px;
    color: #5D0045;
}

.hints.hidden {
    display: none;
}

@media (min-width: 768px) {
    .difficulty-btn::after {
        bottom: 50%;
        left: auto;
        right: 100%;
        transform: translateY(-50%);
        max-width: 200px;
        white-space: normal;
    }
}

.purple-bg {
    background-color: #5D0045;
    max-width: 1000px;
    height: 150px;
    margin: 0 auto;
    position: relative;
    border-radius: 12px;
    padding: 20px;
}

.musical-container {
    display: none;
}

.musical-container.show-medium * {
    display: block;
    background-color: #5d004642;
    width: 100%;
    position: relative;
    border-radius: 12px;
    box-shadow: 0 4px 8px #5d004624;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    margin: 0 auto;
    z-index: 4;
}

.musical-sheet {
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    z-index: 4;
}

.staff {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    z-index: 4;
}

.staff img {
    position: absolute;
    top: 20px;
    left: 10px;
    width: 90px;
    height: 250px;
    z-index: 10;
    opacity: 0.8;
    padding-right: 20px;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    opacity: 0.6;
    z-index: 4;
    margin: 5px 0;
}

.notes {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 20px;
    opacity: 1;
    z-index: 7;
    transition: all 0.3s ease;
}

.note {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    opacity: 1;
    z-index: 7;
    transition: all 0.3s ease;
}

.note.green {
    background-color: #c5ba2f;
    opacity: 1;
    box-shadow: 0 0 5px rgba(197, 186, 47, 0.6);
}

.note.blue {
    background-color: #b8e2e8;
    opacity: 1;
    box-shadow: 0 0 5px rgba(184, 226, 232, 0.6);
}

.note.yellow {
    background-color: #f7d170;
    opacity: 1;
    box-shadow: 0 0 5px rgba(247, 209, 112, 0.6);
}

.note.red {
    background-color: #ff5834;
    opacity: 1;
    box-shadow: 0 0 5px rgba(255, 88, 52, 0.6);
}

.note:hover {
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}